*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
h1{
    color: indigo;
    font-family: serif;
    margin: 10px;
}
hr{
    margin: 15px;
}

.title{
    font-size: 18px;
    font-family: monospace;
    padding-left: 0;
}
.nav li{
    display: inline-block;
}
.nav a{
    color:white;
    background-color: yellowgreen;
    padding: 5px;
    border-radius: 8px;
    text-decoration: none;
}
.nav .prueba{
    background-color: red;
}

h2 + p{
    color:red
}
/* Hermano cercano */

div > p {
    color: blue;
}
/* hijo directo */

h3 ~ p{
    color: green
}
/* hermanos */
/* div p {
    color: yellowgreen;
} */
/* hijos totales */