p{
    font-style: italic;
}
/* Estilo por elemento */
.parrafo{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Estilo por clase */
#segundoParrafo{
    color: yellowgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Estilo por id */

.main-nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0px;
    background-color: rgb(158, 35, 35);
}

.main-nav_item{
    display: inline-block;
}

.main-nav_item a{
    color: whitesmoke;
    padding: 5px;
    border-radius: 8px;
    text-decoration: none;
    background-color: black;
}
/* Estilos especificos */

.main-nav_item a:hover{
    color: yellowgreen;
}
/* Pseudoclases; definen el ESTADO de un elemento */
.main-nav_item a:active{
    color: gold;
}
.main-nav_item a::after{
    content: " | ";
}
/* Pseudoelemento; definen el estilo de UNA PARTE del elemento */

*{
    box-sizing: border-box;
    /* suma los tamaños de caja border y padding para dar tamaños mejores*/
    padding:  0;
    margin: 0;
}
.modeloCajaArt{
    width: 100%;
    /* width: calc(100% - 90px); */
    /* calc para dejar corrrectamente los tamaños con propiedades de caja */
    height: 250px;
    border: 10px solid gray;
    padding: 20px 350px ;
}

/* inherint: para heredar */
